body {
  background: #e9e9e9;
}

.p0m0 {
  margin: 0;
  padding: 0;
}

.paper {
  background-color: @component-background;
  margin: 1rem;
  padding: 1rem;
  box-shadow: @box-shadow-short;
}

///////////////////////////////////////////////////////display
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
//////////////////////////////////////////////////////float
.float-right{
  float: right;
}
.float-left{
  float: left;
}

///////////////////////////////////////////////////////text align
.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

///////////////////////////////////////////////////////margins
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.m0 {
  margin: 10px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 15px;
}

.m25 {
  margin: 15px;
}

.mx0 {
  margin-right: 0;
  margin-left: 0;
}

.mx10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx15 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx25 {
  margin-right: 25px;
  margin-left: 25px;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my20 {
  margin: 20px 0;
}

.my25 {
  margin: 25px 0;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 15px;
}

.mt25 {
  margin-top: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 15px;
}

.mb25 {
  margin-bottom: 15px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 15px;
}

.mr25 {
  margin-right: 15px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 15px;
}

.ml25 {
  margin-left: 15px;
}

////////////////////////////////////////////paddings
.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 15px;
}

.p25 {
  padding: 15px;
}

.px5 {
  padding: 0 5px;
}

.px10 {
  padding: 0 10px;
}

.px15 {
  padding: 0 15px;
}

.px20 {
  padding: 0 15px;
}

.px25 {
  padding: 0 15px;
}

.px10 {
  padding: 0 10px;
}

.py15 {
  padding: 15px 0;
}

.py20 {
  padding: 15px 0;
}

.py25 {
  padding: 15px 0;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 15px;
}

.pt25 {
  padding-top: 15px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 15px;
}

.pb25 {
  padding-bottom: 15px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 15px;
}

.pr25 {
  padding-right: 15px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 15px;
}

.pl25 {
  padding-left: 15px;
}

.container {
  width: 100%;
  align-self: center;
  margin: 1rem auto auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
    .container {
      max-width: @breakpoint;
    }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-xl);
.make-container(@screen-xxl-min, @screen-xxl);

.mdContainer {
  width: 100%;
  align-self: center;
  margin: 1rem auto auto;


}

.make-mdContainer(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
    .mdContainer {
      max-width: @breakpoint;
    }
  }
}

.make-mdContainer(@screen-xs-min, @screen-xs);
.make-mdContainer(@screen-sm-min, @screen-sm);
.make-mdContainer(@screen-md-min, @screen-md);
.make-mdContainer(@screen-lg-min, @screen-md);
.make-mdContainer(@screen-xl-min, @screen-md);
.make-mdContainer(@screen-xxl-min, @screen-md);